{% extends 'sitiologin/base.html' %}
{% block title %}Ingresar Nueva Contraseña{% endblock %}
{% block content %}
  <div class="login-container">
    {% if validlink %}
      <h2>Ingresar Nueva Contraseña</h2>
      <p>Por favor, ingresa tu nueva contraseña dos veces para verificar que la has escrito correctamente.</p>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }} {# Django proveerá el 'form' automáticamente #}
        <button type="submit" class="btn-submit">Cambiar mi Contraseña</button>
      </form>
    {% else %}
      <h2>Enlace Inválido</h2>
      <p>El enlace para restablecer la contraseña es inválido, posiblemente porque ya ha sido utilizado. Por favor, <a href="{% url 'password_reset' %}">solicita un nuevo restablecimiento de contraseña</a>.</p>
    {% endif %}
  </div>
{% endblock %}