{% extends 'sitiologin/base.html' %}
{% block title %}Enlace Enviado{% endblock %}
{% block content %}
  <div class="login-container">
    <h2>Enlace de Restablecimiento Enviado</h2>
    <p>Te hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Si existe una cuenta con el correo que ingresaste, deberías recibirlo en breve.</p>
    <p>Si no lo recibes, por favor revisa tu carpeta de spam o asegúrate de haber ingresado la dirección con la que te registraste.</p>
  </div>
{% endblock %}