{% extends 'sitiologin/base.html' %} {# Hereda de tu plantilla base #}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}
<title>FGLAGLDSLGK</title>
  <div class="login-container"> {# Puedes reusar la clase de tu contenedor de login #}
    <h2>Restablecer Contraseña</h2>
    <p>Ingresa tu dirección de correo electrónico asociada con tu cuenta.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }} {# Django proveerá el 'form' automáticamente #}
      <button type="submit" class="btn-submit">Enviar Enlace de Restablecimiento</button>
    </form>
  </div>
{% endblock %}